package adventofcode2020.{{ day }};

import java.util.ArrayList;

import org.junit.jupiter.api.Test;
import static org.junit.jupiter.api.Assertions.*;

class {{ Day }} {

	{{ ClassName }} {{ ClassName }} = new {{ ClassName }}();

	@Test 
	void testPartOne() {
		ArrayList testValues = new ArrayList();
		assertEquals(0, {{ ClassName }}.partOne(testValues));
	}

	@Test 
	void testPartTwo() {


	}

}
